@model IEnumerable<FastFoodOnline.Models.Category>
@{
    ViewBag.Title = "Danh sách danh mục";
    Layout = "_AdminLayout";
}
<h1>@ViewBag.Title</h1>
<p><a asp-action="Create" class="btn btn-primary">Tạo mới</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
